body {
  font-size: 22px;
  color: seashell;
  font-family: helvetica;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  height: 69px;
  align-items: center;
  margin-left: 10px;
  position: fixed;
  top: 0;
  background-color: black;
  width: 100%;
  z-index: 2;
}

nav {
  margin-right: 30px;
  margin-bottom: 10px;
}

nav span{
  margin-left: 25px;
}

a:link{
  color: seashell;
}
a:visited{
  color: seashell;
}
/*the mssin part*/
.page {
  position: absolute;
  top: 71px;
  width: 100%;
}

.mission {
  background-color: black;
  position: absolute;
  top: 300px;
  width: 100%;
}
/* tea of the month part */

.tom img {
  height: 200px;
  width: 300px;
  margin: auto 16.5px;
}
.teaofthemonth{
  margin-top: 75px;
}
.tom {
  width: 1000px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tom h4 {
  margin-top: 10px;
}
/* time for location */

#location{
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  width: 75%;
  margin: auto;
  margin-top: 75px;
  flex-direction: column;
}

.loco div{
  background-color: black;
  display: inline-flex;
  justify-content: center;
  width: 300px;
  flex-wrap: wrap;
  margin: auto 20px;
  opacity: 1;
}

#location h4, #location h3 {
  width: 100%;
  margin: 20px auto;
}
#location h2 {
  margin-bottom: 15px;
}
/*info cantact*/
.contact {
  height: 200px;
}
